@model IEnumerable<ASP_WorkShop_MVC.Models.BOOK_DATA>

@{
    ViewBag.Title = "Index";
}

<h2>圖書維護</h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn-info">新增書籍</a>
    <a href="@Url.Action("search")" class="btn btn-success">搜尋書籍</a>
</p>
<table class="table">
    <tr>
        <th>
            <p @Html.DisplayNameFor(model => model.FirstOrDefault().BOOK_NAME)>書籍名稱</p>
        </th>
        <th>
            <p @Html.DisplayNameFor(model => model.FirstOrDefault().BOOK_CLASS)>書籍類別</p>
        </th>
        <th>
            <p @Html.DisplayNameFor(model => model.FirstOrDefault().BOOK_KEEPER)>借閱者</p>
        </th>
        <th>
            <p @Html.DisplayNameFor(model => model.FirstOrDefault().BOOK_STATUS)>書籍狀態</p>
        </th>
        <th>
            <p @Html.DisplayNameFor(model => model.FirstOrDefault().BOOK_BOUGHT_DATE)>購買日期</p>
        </th>
        <th>
            <p @Html.DisplayNameFor(model => model.FirstOrDefault().BOOK_AUTHOR)>作者</p>
        </th>
        <th>
            <p @Html.DisplayNameFor(model => model.FirstOrDefault().BOOK_PUBLISHER)>出版社</p>
        </th>
        <th>
            <p @Html.DisplayNameFor(model => model.FirstOrDefault().BOOK_NOTE)>內容簡介</p>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BOOK_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BOOK_CLASS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BOOK_KEEPER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BOOK_STATUS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BOOK_BOUGHT_DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BOOK_AUTHOR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BOOK_PUBLISHER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BOOK_NOTE)
        </td>
        <td>
            <a href="@Url.Action( "Edit", new { bookid=item.BOOK_ID })" class="btn btn-warning">編輯</a>
            <a onclick="return confirm('確定刪除嗎?');" href="@Url.Action( "Delete", new { bookid=item.BOOK_ID })" class="btn btn-danger">刪除</a>
        </td>
</tr>
}

</table>
